#logo {
    float: left;
    overflow: hidden;
    height: 38px;
    margin-top: 5px;
}

#logo img {
    width: 200px;
    margin-top: -18px;
}

.next {
    float: right;
    margin-right: 160px;
}

.ng-invalid {
    border-color: red! important;
}