#logo {
    float: left;
    overflow: hidden;
    height: 38px;
    margin-top: 5px;
}

#logo img {
    width: 200px;
    margin-top: -18px;
}

#navigationButtonsContainer {
    display: flex;
    justify-content: space-around;
}

.ng-invalid {
    border-color: red! important;
}

.removeCurso {
    float: right;
    cursor: pointer;
}

.buscarColegioInput {
    width: 60%! important;
}

.agregarColegioButton {
    margin-left: 5px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    float: left;
}

.colegioListItem {
    display: flex;
    justify-content: space-between;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.tableContainer {
    width: 60%;
}

.margin-top {
    margin-top: 25px;
}

.loadingColegios {
    width: 25px;
    height: 25px;
    font-size: 26px;
    margin-left: 5px;    
 }

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
    
