#logo {
    float: left;
    overflow: hidden;
    height: 38px;
    margin-top: 5px;
}

#logo img {
    width: 200px;
    margin-top: -18px;
}

#navigationButtonsContainer {
    display: flex;
    justify-content: space-around;
}

.ng-invalid {
    border-color: red! important;
}

.adicionalesContainer {
    display: flex;
    justify-content: space-around;
}

.adicionalesContainer #jardinEstatal {
    width: 45%;
}

.adicionalesContainer .control-label {
    font-weight: normal;
}