<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Sistema de Inscripciones</title>
    <meta name="description" content="Sistema de Inscripciones">
    <meta name="author" content="Grupo7">


</head>

<body ng-app="inscripciones" ng-controller="mainController as mainCtrl">
    
    <link rel="stylesheet" href="app.css">
    
    <link rel="stylesheet" href="libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="libs/jquery-ui.min.css">
    <link rel="stylesheet" href="libs/toastr/angular-toastr.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script src="libs/sortable.js"></script>
    <script src="https://code.angularjs.org/1.5.8/i18n/angular-locale_es-ar.js"></script>
    <script src="libs/ui-bootstrap-2.1.4.js"></script>
    <script src="libs/ui-bootstrap-tpls-2.1.4.min.js"></script>
    <script src="libs/toastr/angular-toastr.tpls.js"></script>
    
    <script src="app.module.js"></script>
    <script src="services/inscripcion.model.service.js"></script>
    <script src="services/inscripcion.service.js"></script>
    <script src="controllers/inscripcion/main.controller.js"></script>
    <script src="controllers/inscripcion/seleccion.nivel.controller.js"></script>
    <script src="controllers/inscripcion/aspirante.controller.js"></script>
    <script src="controllers/inscripcion/responsable.controller.js"></script>
    <script src="controllers/inscripcion/datos.adicionales.controller.js"></script>    
    <script src="controllers/inscripcion/seleccion.colegios.controller.js"></script>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="logo"><img src="images/Buenos-Aires-Cuidad.png"></div>
                <a class="navbar-brand" href="#">Sistema de Inscripciones</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Manual del usuario</a></li>
            </ul>
        </div>
    </nav>

    <uib-tabset active="mainCtrl.activeTab">
        <uib-tab index="0" disable="false">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-book"></i> Seleccion de Nivel
            </uib-tab-heading>
            <form name="mainCtrl.nivelForm" class="form-horizontal container" 
                  ng-controller="seleccionNivelController as seleccionNivel">
                <div class="page-header">
                    <h1>Nivel a Inscribirse</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nivel">Nivel:</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="nivel" id="nivel" required>
                                <option value="">Seleccionar</option>
                                <option value="1">Primario</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nivel">Modalidad:</label>
                    <div class="col-sm-8">
                        <select id="modalidad" class="form-control" ng-model="modalidad" required>
                                <option value="">Seleccionar</option>
                                <option value="1">Primario</option>
                                <option value="2" disabled>Escuelas Normales Superiores (ENS)</option>
                                <option value="3" disabled>Especial</option>
                             </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nivel">Grado:</label>
                    <div class="col-sm-8">
                        <select id="modalidad" class="form-control" ng-model="mainCtrl.grado" required
                                ng-options="o.value as o.label for o in seleccionNivel.gradoOptions"></select>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="1" disable="false">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-user"></i> Datos del Aspirante
            </uib-tab-heading>
            <form name="mainCtrl.aspiranteForm" class="form-horizontal container"
                  ng-controller="aspiranteController as aspiranteCtrl">
                <div class="page-header">
                    <h1>Datos Personales</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fechaNac">Fecha Nacimiento:</label>
                    <div class="col-sm-8">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" readonly 
                                   placeholder="Seleccione una fecha de nacimiento"
                                   ng-model="mainCtrl.inscripcion.aspirante.fechaNacimiento" 
                                   is-open="aspiranteCtrl.datePicker.opened" 
                                   datepicker-options="aspiranteCtrl.dateOptions" 
                                   required show-button-bar="false" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" 
                                        ng-click="aspiranteCtrl.openDatePicker()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                    <div class="col-sm-8">
                        <input type="text" id="nombre" class="form-control" required
                               ng-model="mainCtrl.inscripcion.aspirante.nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="apellido">Apellido:</label>
                    <div class="col-sm-8">
                        <input type="text" id="apellido" class="form-control" required
                               ng-model="mainCtrl.inscripcion.aspirante.apellido">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sexo">Sexo:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="sexo" required
                                ng-model="mainCtrl.inscripcion.aspirante.sexo">
                                <option value="">Seleccionar</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipo_documento">Documento:</label>
                    <div class="col-sm-3">
                        <select id="tipo_documento" class="form-control" required
                                ng-model="mainCtrl.inscripcion.aspirante.tipoDocumento">
                                <option value="">Seleccionar el tipo</option>
                                <option value="DNI">Documento Nacional de Identidad</option>
                                <option value="PN">Partida de nacimiento</option>
                                <option value="CRP">Credencial residencia precaria</option>
                                <option value="PE">Pasaporte extranjero</option>
                                <option value="CE">Cédula extranjera</option>
                                <option value="ODE">Otro documento extranjero</option>
                                <option value="DT">Documento en trámite</option>
                                <option value="SD">Sin documento</option>
                            </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="nro_documento" placeholder="Número" class="form-control"
                               ng-required="mainCtrl.inscripcion.aspirante.tipoDocumento != SD"
                               ng-disabled="mainCtrl.inscripcion.aspirante.tipoDocumento == SD"
                               ng-model="mainCtrl.inscripcion.aspirante.numeroDocumento">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nacionalidad">Nacionalidad:</label>
                    <div class="col-sm-8">
                        <select id="nacionalidad" class="form-control" required
                                ng-model="mainCtrl.inscripcion.aspirante.paisNacimiento">
                                <option value="">Seleccionar</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Chile">Chile</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Perú">Perú</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Otros países de América">Otros países de América</option>
                                <option value="Países de Europa">Países de Europa</option>
                                <option value="Corea">Corea</option>
                                <option value="Rep. Popular de China">Rep. Popular de China</option>
                                <option value="Taiwan">Taiwan</option>
                                <option value="Otros países de Asia">Otros países de Asia</option>
                                <option value="Otros">Otros</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sistema_salud">Sistema de Salud:</label>
                    <div class="col-sm-8">
                        <select id="sistema_salud" name="sistema_salud" class="form-control" required
                                ng-model="mainCtrl.inscripcion.aspirante.sistemaSalud">
                                <option value="">Seleccionar</option>
                                <option value="HtalPublico">Hospital público</option>
                                <option value="ObraSocial">Obra social</option>
                                <option value="PrePaga">Pre-paga</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefono">Teléfono:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefono" class="form-control"
                               ng-model="mainCtrl.inscripcion.aspirante.telefono">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Problemas de salud existentes?</label>
                    <div class="col-sm-8">
                        <label style="padding-right: 10px">
                            <input type="checkbox" 
                                   ng-model="mainCtrl.inscripcion.aspirante.problemasSalud.fisicos"> Fìsicos</label>
                        <label style="padding-right: 10px">
                            <input type="checkbox" 
                                   ng-model="mainCtrl.inscripcion.aspirante.problemasSalud.alergias"> Alergias</label>
                        <label style="padding-right: 10px">
                            <input type="checkbox" 
                                   ng-model="mainCtrl.inscripcion.aspirante.problemasSalud.sensorial"> Sensorial</label>
                        <label style="padding-right: 10px">
                            <input type="checkbox" 
                                   ng-model="mainCtrl.inscripcion.aspirante.problemasSalud.epileptico"> Epiléptico</label>
                        <label style="padding-right: 10px">
                            <input type="checkbox" 
                                   ng-model="mainCtrl.inscripcion.aspirante.problemasSalud.otros"> Otros</label>
                        <div style="padding-right: 10px" 
                               ng-show="mainCtrl.inscripcion.aspirante.problemasSalud.otros">
                                Por favor aclarar ¿cuál?
                            <input type="text" 
                                   class="form-control"
                                   ng-required="mainCtrl.inscripcion.aspirante.problemasSalud.otros"
                                   ng-model="mainCtrl.inscripcion.aspirante.problemasSalud.otrosDescripcion"> 
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="certificado_disc">Certificado Discapacidad:</label>
                    <div class="col-sm-8">
                        <select id="certificado_disc" class="form-control"
                                ng-options="o.value as o.label for o in aspiranteCtrl.certDiscapacidadOptions"
                                ng-model="mainCtrl.inscripcion.aspirante.certificadoDisca"></select>
                    </div>
                </div>
                <div class="page-header">
                    <h1>Domicilio</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="provincia">Provincia:</label>
                    <div class="col-sm-8">
                        <select name="provincia" id="provincia" class="form-control" required
                                ng-model="mainCtrl.inscripcion.aspirante.domicilio.provincia">
                                <option value="">Seleccionar</option>
                                <option value="CABA">Ciudad Autónoma de Buenos Aires</option>
                                <option value="BSAS">Buenos Aires</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle">Calle y Número:</label>
                    <div class="col-sm-4">
                        <input type="text" id="calle_nro" class="form-control" required
                               placeholder="Calle" typeahead-editable="false"
                               uib-typeahead="calle for calle in mainCtrl.calles | filter:$viewValue | limitTo:10" 
                               ng-model="mainCtrl.inscripcion.aspirante.domicilio.calle">
                    </div>
                    <div class="col-sm-4">
                        <input type="number" id="nro" class="form-control" required placeholder="Número"
                               min="0" max="99999"
                               ng-model="mainCtrl.inscripcion.aspirante.domicilio.numero">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <label class="col-sm-4">Piso: <input id="piso" class="form-control" type="text"
                                                             ng-model="mainCtrl.inscripcion.aspirante.domicilio.piso"></label>
                        <label class="col-sm-4">Depto: <input id="depto" class="form-control" type="text"
                                                              ng-model="mainCtrl.inscripcion.aspirante.domicilio.departamento"></label>
                        <label class="col-sm-4">CP: <input id="cp" class="form-control" type="text" required ng-model="mainCtrl.inscripcion.aspirante.domicilio.codigoPostal"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle_nro">Villa:</label>
                    <div class="col-sm-8">
                        <select id="barrio" name="barrio" class="form-control" ng-model="mainCtrl.inscripcion.aspirante.domicilio.villa">
                                <option value="">No aplica</option>
                                <option value="65">Asentamiento Barrio Obrero</option>
                                <option value="68">Asentamiento Bermejo</option>
                                <option value="51">Asentamiento Biarritz y Espino</option>
                                <option value="80">Asentamiento Bosch</option>
                                <option value="85">Asentamiento Calle B. Mitre</option>
                                <option value="78">Asentamiento Charlone</option>
                                <option value="74">Asentamiento El pueblito</option>
                                <option value="86">Asentamiento El Triángulo</option>
                                <option value="58">Asentamiento Fraga</option>
                                <option value="59">Asentamiento La Carbonilla</option>
                                <option value="64">Asentamiento Lamadrid</option>
                                <option value="54">Asentamiento Los Pinos</option>
                                <option value="73">Asentamiento Magaldi</option>
                                <option value="75">Asentamiento Mar Dulce</option>
                                <option value="87">Asentamiento María Auxiliadora</option>
                                <option value="88">Asentamiento Paredón Lacroze</option>
                                <option value="57">Asentamiento Portela</option>
                                <option value="81">Asentamiento Rodrigo Bueno</option>
                                <option value="89">Asentamiento Saldías</option>
                                <option value="82">Asentamiento Scapino</option>
                                <option value="83">Asentamiento Warnes y Newbery</option>
                                <option value="71">Asentamiento Yerbal</option>
                                <option value="77">NHT Del Trabajo</option>
                                <option value="66">NHT Zavaleta</option>
                                <option value="79">Villa 1-11-14</option>
                                <option value="72">Villa 13 bis</option>
                                <option value="60">Villa 15</option>
                                <option value="55">Villa 16</option>
                                <option value="63">Villa 17</option>
                                <option value="69">Villa 19</option>
                                <option value="84">Villa 20</option>
                                <option value="76">Villa 21-24</option>
                                <option value="53">Villa 26</option>
                                <option value="70">Villa 31</option>
                                <option value="61">Villa 31 BIS</option>
                                <option value="52">Villa 3- Bo. Fatima</option>
                                <option value="56">Villa 6</option>
                                <option value="62">Villa Calacita</option>
                                <option value="67">Villa Piletones</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipo_vivienda">¿En qué tipo de espacio conviven?</label>
                    <div class="col-sm-8">
                        <select id="tipo_vivienda" class="form-control" required ng-model="mainCtrl.inscripcion.aspirante.domicilio.tipo">
                                <option value="">Seleccionar</option>
                                <option value="casa">Vivienda propia</option>
                                <option value="viviendaalquilada">Vivienda alquilada</option>
                                <option value="pension">Pensión</option>
                                <option value="hotel">Hotel familiar</option>
                                <option value="situacionCalle">Situación de calle</option>
                                <option value="nhp">Núcleo habitacional precario</option>
                                <option value="villa">Villa</option>
                                <option value="ninguno">Ninguno de los anteriores</option>
                            </select>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="2" disable="false">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-user"></i> Datos del Responsable
            </uib-tab-heading>
            <form name="mainCtrl.responsableForm" class="form-horizontal container" 
                  ng-controller="responsableController as responsableCtrl">
                <div class="page-header">
                    <h1>Datos Personales del Responsable</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="vinculo">Vinculo:</label>
                    <div class="col-sm-8">
                        <select id="vinculo" name="vinculo" class="form-control" required
                                ng-model="mainCtrl.inscripcion.responsable.vinculoAspirante">
                                <option value="">Seleccionar</option>
                                <option value="padre">Padre</option>
                                <option value="madre">Madre</option>
                                <option value="hermano">Hermano/a</option>
                                <option value="tutor">Tutor/a</option>
                                <option value="responsable">Responsable a cargo</option>
                                <option value="tio">Tío/a</option>
                                <option value="primo">Primo/a</option>
                                <option value="padrastro">Padrastro</option>
                                <option value="madrastra">Madrastra</option>
                                <option value="abuelo">Abuelo/a</option>
                                <option value="autorizado">Autorizado/a</option>
                                <option value="NA">No Aplica</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                    <div class="col-sm-8">
                        <input type="text" id="nombre" class="form-control" required
                               ng-model="mainCtrl.inscripcion.responsable.nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="apellido">Apellido:</label>
                    <div class="col-sm-8">
                        <input type="text" id="apellido" class="form-control" required
                               ng-model="mainCtrl.inscripcion.responsable.apellido">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipo_documento">Documento:</label>
                    <div class="col-sm-3">
                        <select id="tipo_documento" class="form-control" required 
                                ng-model="mainCtrl.inscripcion.responsable.tipoDocumento">
                                <option value="">Seleccionar el tipo</option>
                                <option value="DNI">Documento Nacional de Identidad</option>
                                <option value="PN">Partida de nacimiento</option>
                                <option value="CRP">Credencial residencia precaria</option>
                                <option value="PE">Pasaporte extranjero</option>
                                <option value="CE">Cédula extranjera</option>
                                <option value="ODE">Otro documento extranjero</option>
                                <option value="DT">Documento en trámite</option>
                                <option value="SD">Sin documento</option>
                            </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="nro_documento" placeholder="Número" class="form-control"
                               ng-required="mainCtrl.inscripcion.responsable.tipoDocumento != SD"
                               ng-disabled="mainCtrl.inscripcion.responsable.tipoDocumento == SD"
                               ng-model="mainCtrl.inscripcion.responsable.numeroDocumento">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nacionalidad">Nacionalidad:</label>
                    <div class="col-sm-8">
                        <select id="nacionalidad" class="form-control" required
                                ng-model="mainCtrl.inscripcion.responsable.paisNacimiento">
                                <option value="">Seleccionar</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Chile">Chile</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Perú">Perú</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Otros países de América">Otros países de América</option>
                                <option value="Países de Europa">Países de Europa</option>
                                <option value="Corea">Corea</option>
                                <option value="Rep. Popular de China">Rep. Popular de China</option>
                                <option value="Taiwan">Taiwan</option>
                                <option value="Otros países de Asia">Otros países de Asia</option>
                                <option value="Otros">Otros</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" id="email" class="form-control" required
                               ng-model="mainCtrl.inscripcion.responsable.email">
                    </div>
                    <label style="color: red; text-align: left;" class="control-label col-sm-2" ng-show="mainCtrl.responsableForm.$error.email">Email incorrecto</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefono">Teléfono:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefono" class="form-control" required
                               ng-model="mainCtrl.inscripcion.responsable.telefonoParticular">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefono2">Teléfono alternativo:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefono2" class="form-control"
                               ng-model="mainCtrl.inscripcion.responsable.telefonoAlternativo">
                    </div>
                </div>
                <div class="page-header">
                    <h1>Datos Laborales</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="trabaja">Situación Laboral:</label>
                    <div class="col-sm-8">
                        <select id="trabaja" name="trabaja" class="form-control" 
                                ng-options="o.value as o.label for o in responsableCtrl.trabajaOptions"
                                ng-model="mainCtrl.inscripcion.responsable.trabaja"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="profesion">Profesion:</label>
                    <div class="col-sm-8">
                        <input type="text" id="profesion" class="form-control" 
                               ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                               ng-required="mainCtrl.inscripcion.responsable.trabaja"
                               ng-model="mainCtrl.inscripcion.responsable.datosLaborales.profesion">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefonoLab">Teléfono Laboral:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefonoLab" class="form-control"
                               ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                               ng-required="mainCtrl.inscripcion.responsable.trabaja"
                               ng-model="mainCtrl.inscripcion.responsable.datosLaborales.telefono">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="provincia">Provincia:</label>
                    <div class="col-sm-8">
                        <select name="provincia" id="provincia" class="form-control"
                               ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                               ng-required="mainCtrl.inscripcion.responsable.trabaja"
                               ng-model="mainCtrl.inscripcion.responsable.datosLaborales.domicilio.provincia">
                                <option value="">Seleccionar</option>
                                <option value="CABA">Ciudad Autónoma de Buenos Aires</option>
                                <option value="BSAS">Buenos Aires</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle">Calle y Número:</label>
                    <div class="col-sm-4">
                        <input type="text" id="calle_nro" class="form-control"
                               placeholder="Calle" typeahead-editable="false"
                               ng-required="mainCtrl.inscripcion.responsable.trabaja"
                               uib-typeahead="calle for calle in mainCtrl.calles | filter:$viewValue | limitTo:10" 
                               ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                               ng-model="mainCtrl.inscripcion.responsable.datosLaborales.domicilio.calle">
                    </div>
                    <div class="col-sm-4">
                        <input type="number" id="nro" class="form-control" placeholder="Número"
                               min="0" max="99999"
                               ng-required="mainCtrl.inscripcion.responsable.trabaja"
                               ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                               ng-model="mainCtrl.inscripcion.responsable.datosLaborales.domicilio.numero">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <label class="col-sm-4">Piso: 
                            <input id="piso" class="form-control" type="text"
                                ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                                ng-model="mainCtrl.inscripcion.responsable.datosLaborales.domicilio.piso"></label>
                        <label class="col-sm-4">Depto: 
                            <input id="depto" class="form-control" type="text"
                                ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                                ng-model="mainCtrl.inscripcion.responsable.datosLaborales.domicilio.departamento"></label></label>
                        <label class="col-sm-4">CP: 
                            <input id="cp" class="form-control" type="text"
                                ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                                ng-required="mainCtrl.inscripcion.responsable.trabaja"
                                ng-model="mainCtrl.inscripcion.responsable.datosLaborales.domicilio.codigoPostal"></label></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle_nro">Villa:</label>
                    <div class="col-sm-8">
                        <select id="barrio" name="barrio" class="form-control"
                                ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                                ng-model="mainCtrl.inscripcion.responsable.datosLaborales.domicilio.villa"></label>
                                <option value="">No aplica</option>
                                <option value="65">Asentamiento Barrio Obrero</option>
                                <option value="68">Asentamiento Bermejo</option>
                                <option value="51">Asentamiento Biarritz y Espino</option>
                                <option value="80">Asentamiento Bosch</option>
                                <option value="85">Asentamiento Calle B. Mitre</option>
                                <option value="78">Asentamiento Charlone</option>
                                <option value="74">Asentamiento El pueblito</option>
                                <option value="86">Asentamiento El Triángulo</option>
                                <option value="58">Asentamiento Fraga</option>
                                <option value="59">Asentamiento La Carbonilla</option>
                                <option value="64">Asentamiento Lamadrid</option>
                                <option value="54">Asentamiento Los Pinos</option>
                                <option value="73">Asentamiento Magaldi</option>
                                <option value="75">Asentamiento Mar Dulce</option>
                                <option value="87">Asentamiento María Auxiliadora</option>
                                <option value="88">Asentamiento Paredón Lacroze</option>
                                <option value="57">Asentamiento Portela</option>
                                <option value="81">Asentamiento Rodrigo Bueno</option>
                                <option value="89">Asentamiento Saldías</option>
                                <option value="82">Asentamiento Scapino</option>
                                <option value="83">Asentamiento Warnes y Newbery</option>
                                <option value="71">Asentamiento Yerbal</option>
                                <option value="77">NHT Del Trabajo</option>
                                <option value="66">NHT Zavaleta</option>
                                <option value="79">Villa 1-11-14</option>
                                <option value="72">Villa 13 bis</option>
                                <option value="60">Villa 15</option>
                                <option value="55">Villa 16</option>
                                <option value="63">Villa 17</option>
                                <option value="69">Villa 19</option>
                                <option value="84">Villa 20</option>
                                <option value="76">Villa 21-24</option>
                                <option value="53">Villa 26</option>
                                <option value="70">Villa 31</option>
                                <option value="61">Villa 31 BIS</option>
                                <option value="52">Villa 3- Bo. Fatima</option>
                                <option value="56">Villa 6</option>
                                <option value="62">Villa Calacita</option>
                                <option value="67">Villa Piletones</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="referencia">Datos de Referencia:</label>
                    <div class="col-sm-8">
                        <textarea type="text" id="referencia" class="form-control"
                                ng-disabled="!mainCtrl.inscripcion.responsable.trabaja"
                                ng-model="mainCtrl.inscripcion.responsable.datosLaborales.datosReferencia"></label></textarea>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="3" disable="false">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-plus"></i> Datos Adicionales
            </uib-tab-heading>
            <form name="mainCtrl.adicionalesForm" class="form-horizontal container" 
                  ng-controller="datosAdicionalesController as datosAdicionalesCtrl">

                <div class="page-header">
                    <h1>Datos Adicionales</h1>
                </div>

                <div class="alert alert-warning" role="alert">
                    <p>ATENCION</p>
                    <p>Estas preguntas te permitiran agregar informacion que pueda ser significativa para la asignacion de la vacante.</p>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-9" for="concurrioAntes">¿El aspirante concurrio el año anterior a alguna institucion de Nivel inicial de gestion estatal de la Ciudad de Buenos Aires?</label>
                    <div class="col-sm-2">
                        <select id="jardinEstatalSelect" name="jardinEstatalSelect" class="form-control" 
                                ng-options="o.value as o.label for o in datosAdicionalesCtrl.datosAdicionalesOptions"
                                ng-model="datosAdicionalesCtrl.jardinEstatal" 
                                ng-change="datosAdicionalesCtrl.cambioDatoAdicional('jardinEstatal')"></select>
                    </div>
                </div>
                <div class="form-group adicionalesContainer" ng-if="datosAdicionalesCtrl.jardinEstatal">
                    <label class="control-label" for="jardinEstatal">Seleccione la institucion de Nivel Inicial:</label>
                    <input type="text" ng-model="mainCtrl.inscripcion.adicionales.jardinEstatal" 
                           ng-required="datosAdicionalesCtrl.jardinEstatal"
                           uib-typeahead="jardin as jardin.nombre for jardin in datosAdicionalesCtrl.jardines | filter:{nombre:$viewValue} | limitTo:10" 
                           class="form-control" typeahead-editable="false" id="jardinEstatal" name="jardinEstatal">
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-9" for="hermanos">¿El aspirante tiene hermanos cursando en alguna escuela de gestion estatal de la Ciudad de Buenos Aires?</label>
                    <div class="col-sm-2">
                        <select id="hermanoEnColegioSelect" name="hermanoEnColegioSelect" class="form-control" 
                                ng-options="o.value as o.label for o in datosAdicionalesCtrl.datosAdicionalesOptions"
                                ng-model="datosAdicionalesCtrl.hermanoEnColegio" 
                                ng-change="datosAdicionalesCtrl.cambioDatoAdicional('hermanoEnColegio')"></select>
                    </div>
                </div>
                <div class="form-group" ng-if="datosAdicionalesCtrl.hermanoEnColegio">
                    hermano en colegio 
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-9" for="vinculo">¿Carlos Pipino (responsable principal) trabaja en alguna escuela de gestion estatal de la Ciudad de Buenos Aires?</label>
                    <div class="col-sm-2">
                        <select id="responsableEnColegioSelect" name="responsableEnColegioSelect" class="form-control" 
                                ng-options="o.value as o.label for o in datosAdicionalesCtrl.datosAdicionalesOptions"
                                ng-model="datosAdicionalesCtrl.responsableEnColegio" 
                                ng-change="datosAdicionalesCtrl.cambioDatoAdicional('responsableEnColegio')"></select>
                    </div>
                </div>
                <div class="form-group" ng-if="datosAdicionalesCtrl.responsableEnColegio">
                  responsable en colegio
                </div>
            </form>
        </uib-tab>
        <uib-tab index="4" disable="false">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-home"></i> Seleccion de Escuelas
            </uib-tab-heading>
            <form name="mainCtrl.escuelasForm" class="form-horizontal container" 
                  ng-controller="seleccionColegiosController as seleccionColegiosCtrl">
                <div class="page-header">
                    <h1>Selección de Escuelas</h1>
                </div>
                <ul ui-sortable="sortableOptions" ng-model="model.colegios" class="form-group col-md-8">
                    <li ng-repeat="curso.colegio.nombre in mainCtrl.inscripcion.cursos" class="bg-info form-control" style="cursor:move; margin-bottom: 10px" name="colegio.id">{{colegio.value}}</li>
                </ul>
                <label class="control-label" for="jardinEstatal">Seleccione la institucion de Nivel Inicial:</label>
                <input type="text" ng-model="seleccionColegiosCtrl.colegioAAgregar" 
                       uib-typeahead="colegio as colegio.nombre for colegio in seleccionColegiosCtrl.colegios | filter:{nombre:$viewValue} | limitTo:10" 
                       class="form-control" typeahead-editable="false" id="jardinEstatal" name="jardinEstatal">
                <button ng-click="seleccionColegiosCtrl.obtenerCurso(mainCtrl.grado)">Agregar Colegio</button>
            </form>
        </uib-tab>
        <uib-tab index="5" disable="false">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-ok"></i> Resumen
            </uib-tab-heading>
        </uib-tab>
    </uib-tabset>
    <div id="navigationButtonsContainer">
        <button type="button" class="btn btn-default btn-lg" ng-disabled="mainCtrl.activeTab == 0"
            ng-click="mainCtrl.anterior(mainCtrl.activeTab)">&lt; Anterior</button>
        <button type="button" class="btn btn-default btn-lg" ng-if="mainCtrl.activeTab != 5"
            ng-click="mainCtrl.siguiente(mainCtrl.activeTab)"> Siguiente ></button>
        <button type="button" class="btn btn-default btn-lg" ng-if="mainCtrl.activeTab == 5"
            ng-click="mainCtrl.crearInscripcion(mainCtrl.inscripcion)"> Finalizar </button>
    </div>
</body>

</html>
