<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Sistema de Inscripciones</title>
    <meta name="description" content="Sistema de Inscripciones">
    <meta name="author" content="Grupo7">


</head>

<body ng-app="inscripciones" ng-controller="mainController">
    
    <link rel="stylesheet" href="app.css">
    
    <link rel="stylesheet" href="libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="libs/jquery-ui.min.css">
    <link rel="stylesheet" href="libs/toastr/angular-toastr.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script src="libs/sortable.js"></script>
    <script src="https://code.angularjs.org/1.5.8/i18n/angular-locale_es-ar.js"></script>
    <script src="libs/ui-bootstrap-2.1.4.js"></script>
    <script src="libs/ui-bootstrap-tpls-2.1.4.min.js"></script>
    <script src="libs/toastr/angular-toastr.tpls.js"></script>
    
    <script src="app.module.js"></script>
    <script src="controllers/inscripcion/main.controller.js"></script>
    <script src="controllers/inscripcion/seleccion.nivel.controller.js"></script>
    
    
    
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="logo"><img src="images/Buenos-Aires-Cuidad.png"></div>
                <a class="navbar-brand" href="#">Sistema de Inscripciones</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Manual del usuario</a></li>
            </ul>
        </div>
    </nav>

    <uib-tabset active="mainController.activeTab">
        <uib-tab index="0" disable="true">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-book"></i> Seleccion de Nivel
            </uib-tab-heading>
            <form name="nivelForm" class="form-horizontal container" ng-controller="seleccionNivelController as seleccionNivel">
                <div class="page-header">
                    <h1>Nivel a Inscribirse</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nivel">Nivel:</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="mainController.inscripcion.nivel.nivel" id="nivel" required>
                                <option value="">Seleccionar</option>
                                <option value="1">Primario</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nivel">Modalidad:</label>
                    <div class="col-sm-8">
                        <select id="modalidad" class="form-control" ng-model="mainController.inscripcion.nivel.modalidad" required>
                                <option value="">Seleccionar</option>
                                <option value="1">Primario</option>
                                <option value="2" disabled>Escuelas Normales Superiores (ENS)</option>
                                <option value="3" disabled>Especial</option>
                             </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nivel">Grado:</label>
                    <div class="col-sm-8">
                        <select id="modalidad" class="form-control" ng-model="mainController.inscripcion.nivel.grado" required> 
                                <option value="">Seleccionar</option>
                                <option value="1">Primer Grado</option>
                                <option value="2">Segundo Grado</option>
                                <option value="3">Tercer Grado</option>
                                <option value="4">Cuarto Grado</option>
                                <option value="5">Quinto Grado</option>
                                <option value="6">Sexto Grado</option>
                                <option value="7">Septimo Grado</option>
                             </select>
                    </div>
                </div>
                <button type="button" class="btn btn-default btn-lg next" 
                    ng-click="seleccionNivel.siguiente(nivelForm.$invalid, active)"> Siguiente ></button>
            </form>
            
        </uib-tab>
        <uib-tab index="1" disable="true">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-user"></i> Datos del Aspirante
            </uib-tab-heading>
            <form name="aspiranteForm" class="form-horizontal  container">
                <div class="page-header">
                    <h1>Datos Personales</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fechaNac">Fecha Nacimiento:</label>
                    <div class="col-sm-8">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechaNac" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                    <div class="col-sm-8">
                        <input type="text" id="nombre" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="apellido">Apellido:</label>
                    <div class="col-sm-8">
                        <input type="text" id="apellido" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sexo">Sexo:</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="sexo" id="sexo">
                                <option value="">Seleccionar</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipo_documento">Documento:</label>
                    <div class="col-sm-3">
                        <select id="tipo_documento" class="form-control">
                                <option value="">Seleccionar el tipo</option>
                                <option value="1">Documento Nacional de Identidad</option>
                                <option value="3">Partida de nacimiento</option>
                                <option value="6">Credencial residencia precaria</option>
                                <option value="7">Pasaporte extranjero</option>
                                <option value="8">Cédula extranjera</option>
                                <option value="9">Otro documento extranjero</option>
                                <option value="10">Documento en trámite</option>
                                <option value="11">Sin documento</option>
                            </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="nro_documento" placeholder="Número" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nacionalidad">Nacionalidad:</label>
                    <div class="col-sm-8">
                        <select id="nacionalidad" class="form-control">
                                <option value="1">Argentina</option>
                                <option value="2">Bolivia</option>
                                <option value="3">Brasil</option>
                                <option value="4">Chile</option>
                                <option value="5">Colombia</option>
                                <option value="6">Ecuador</option>
                                <option value="7">Paraguay</option>
                                <option value="8">Perú</option>
                                <option value="9">Uruguay</option>
                                <option value="10">Venezuela</option>
                                <option value="11">Otros países de América</option>
                                <option value="12">Países de Europa</option>
                                <option value="13">Corea</option>
                                <option value="14">Rep. Popular de China</option>
                                <option value="15">Taiwan</option>
                                <option value="16">Otros países de Asia</option>
                                <option value="17">Otros</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sistema_salud">Sistema de Salud:</label>
                    <div class="col-sm-8">
                        <select id="sistema_salud" name="sistema_salud" class="form-control">
                                <option value="">Seleccionar</option>
                                <option value="Hospital público">Hospital público</option>
                                <option value="Obra social">Obra social</option>
                                <option value="Pre-paga">Pre-paga</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefono">Teléfono:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefono" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Problemas de salud existentes?</label>
                    <div class="col-sm-8">
                        <label style="padding-right: 10px"><input type="checkbox"> Fìsicos</label>
                        <label style="padding-right: 10px"><input type="checkbox"> Alergias</label>
                        <label style="padding-right: 10px"><input type="checkbox"> Sensorial</label>
                        <label style="padding-right: 10px"><input type="checkbox"> Epiléptico</label>
                        <label style="padding-right: 10px"><input type="checkbox"> Otros</label>
                        <label style="padding-right: 10px"><input type="checkbox"> Ninguno</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="certificado_disc">Certificado Discapacidad:</label>
                    <div class="col-sm-8">
                        <select id="certificado_disc" class="form-control">
                                <option value="false" selected="">No</option>
                                <option value="true">Si</option>
                            </select>
                    </div>
                </div>
                <div class="page-header">
                    <h1>Domicilio</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="provincia">Provincia:</label>
                    <div class="col-sm-8">
                        <select name="provincia" id="provincia" class="form-control">
                                <option value="1">Ciudad Autónoma de Buenos Aires</option>
                                <option value="2">Buenos Aires</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle_nro">Calle y Numero:</label>
                    <div class="col-sm-8">
                        <input type="text" id="calle_nro" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <label class="col-sm-4">Piso: <input id="piso" class="form-control" type="text"></label>
                        <label class="col-sm-4">Depto: <input id="depto" class="form-control" type="text"></label>
                        <label class="col-sm-4">CP: <input id="cp" class="form-control" type="text"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle_nro">Villa:</label>
                    <div class="col-sm-8">
                        <select id="barrio" name="barrio" class="form-control">
                                <option value="">No aplica</option>
                                <option value="65">Asentamiento Barrio Obrero</option>
                                <option value="68">Asentamiento Bermejo</option>
                                <option value="51">Asentamiento Biarritz y Espino</option>
                                <option value="80">Asentamiento Bosch</option>
                                <option value="85">Asentamiento Calle B. Mitre</option>
                                <option value="78">Asentamiento Charlone</option>
                                <option value="74">Asentamiento El pueblito</option>
                                <option value="86">Asentamiento El Triángulo</option>
                                <option value="58">Asentamiento Fraga</option>
                                <option value="59">Asentamiento La Carbonilla</option>
                                <option value="64">Asentamiento Lamadrid</option>
                                <option value="54">Asentamiento Los Pinos</option>
                                <option value="73">Asentamiento Magaldi</option>
                                <option value="75">Asentamiento Mar Dulce</option>
                                <option value="87">Asentamiento María Auxiliadora</option>
                                <option value="88">Asentamiento Paredón Lacroze</option>
                                <option value="57">Asentamiento Portela</option>
                                <option value="81">Asentamiento Rodrigo Bueno</option>
                                <option value="89">Asentamiento Saldías</option>
                                <option value="82">Asentamiento Scapino</option>
                                <option value="83">Asentamiento Warnes y Newbery</option>
                                <option value="71">Asentamiento Yerbal</option>
                                <option value="77">NHT Del Trabajo</option>
                                <option value="66">NHT Zavaleta</option>
                                <option value="79">Villa 1-11-14</option>
                                <option value="72">Villa 13 bis</option>
                                <option value="60">Villa 15</option>
                                <option value="55">Villa 16</option>
                                <option value="63">Villa 17</option>
                                <option value="69">Villa 19</option>
                                <option value="84">Villa 20</option>
                                <option value="76">Villa 21-24</option>
                                <option value="53">Villa 26</option>
                                <option value="70">Villa 31</option>
                                <option value="61">Villa 31 BIS</option>
                                <option value="52">Villa 3- Bo. Fatima</option>
                                <option value="56">Villa 6</option>
                                <option value="62">Villa Calacita</option>
                                <option value="67">Villa Piletones</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipo_vivienda">¿En qué tipo de espacio conviven?</label>
                    <div class="col-sm-8">
                        <select id="tipo_vivienda" class="form-control">
                                <option value="">Seleccionar</option>
                                <option value="casa">Vivienda propia</option>
                                <option value="viviendaalquilada">Vivienda alquilada</option>
                                <option value="pension">Pensión</option>
                                <option value="hotel">Hotel familiar</option>
                                <option value="situacionCalle">Situación de calle</option>
                                <option value="nhp">Núcleo habitacional precario</option>
                                <option value="villa">Villa</option>
                                <option value="ninguno">Ninguno de los anteriores</option>
                            </select>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="2" disable="true">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-user"></i> Datos del Responsable
            </uib-tab-heading>
            <form name="responsableForm" class="form-horizontal container">
                <div class="page-header">
                    <h1>Datos Personales del Responsable</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="vinculo">Vinculo:</label>
                    <div class="col-sm-8">
                        <select id="vinculo" name="vinculo" class="form-control">
                                <option value="">Seleccionar</option>
                                <option value="1">Padre</option>
                                <option value="2">Madre</option>
                                <option value="3">Hermano/a</option>
                                <option value="4">Tutor/a</option>
                                <option value="5">Responsable a cargo</option>
                                <option value="6">Tío/a</option>
                                <option value="7">Primo/a</option>
                                <option value="8">Padrastro</option>
                                <option value="9">Madrastra</option>
                                <option value="10">Abuelo/a</option>
                                <option value="11">Autorizado/a</option>
                                <option value="12">No Aplica</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                    <div class="col-sm-8">
                        <input type="text" id="nombre" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="apellido">Apellido:</label>
                    <div class="col-sm-8">
                        <input type="text" id="apellido" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipo_documento">Documento:</label>
                    <div class="col-sm-3">
                        <select id="tipo_documento" class="form-control">
                                <option value="">Seleccionar el tipo</option>
                                <option value="1">Documento Nacional de Identidad</option>
                                <option value="3">Partida de nacimiento</option>
                                <option value="6">Credencial residencia precaria</option>
                                <option value="7">Pasaporte extranjero</option>
                                <option value="8">Cédula extranjera</option>
                                <option value="9">Otro documento extranjero</option>
                                <option value="10">Documento en trámite</option>
                                <option value="11">Sin documento</option>
                            </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="nro_documento" placeholder="Número" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nacionalidad">Nacionalidad:</label>
                    <div class="col-sm-8">
                        <select id="nacionalidad" class="form-control">
                                <option value="1">Argentina</option>
                                <option value="2">Bolivia</option>
                                <option value="3">Brasil</option>
                                <option value="4">Chile</option>
                                <option value="5">Colombia</option>
                                <option value="6">Ecuador</option>
                                <option value="7">Paraguay</option>
                                <option value="8">Perú</option>
                                <option value="9">Uruguay</option>
                                <option value="10">Venezuela</option>
                                <option value="11">Otros países de América</option>
                                <option value="12">Países de Europa</option>
                                <option value="13">Corea</option>
                                <option value="14">Rep. Popular de China</option>
                                <option value="15">Taiwan</option>
                                <option value="16">Otros países de Asia</option>
                                <option value="17">Otros</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-8">
                        <input type="text" id="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefono">Teléfono:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefono" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefono2">Teléfono alternativo:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefono2" class="form-control">
                    </div>
                </div>
                <div class="page-header">
                    <h1>Datos Laborales</h1>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="trabaja">Situación Laboral:</label>
                    <div class="col-sm-8">
                        <select id="trabaja" name="trabaja" class="form-control">
                                <option value="0">No trabaja</option>
                                <option value="1">Trabaja</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="profesion">Profesion:</label>
                    <div class="col-sm-8">
                        <input type="text" id="profesion" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefonoLab">Teléfono Laboral:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefonoLab" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="provincia">Provincia:</label>
                    <div class="col-sm-8">
                        <select name="provincia" id="provincia" class="form-control">
                                <option value="1">Ciudad Autónoma de Buenos Aires</option>
                                <option value="2">Buenos Aires</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle_nro">Calle y Numero:</label>
                    <div class="col-sm-8">
                        <input type="text" id="calle_nro" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <label class="col-sm-4">Piso: <input id="piso" class="form-control" type="text"></label>
                        <label class="col-sm-4">Depto: <input id="depto" class="form-control" type="text"></label>
                        <label class="col-sm-4">CP: <input id="cp" class="form-control" type="text"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle_nro">Villa:</label>
                    <div class="col-sm-8">
                        <select id="barrio" name="barrio" class="form-control">
                                <option value="">No aplica</option>
                                <option value="65">Asentamiento Barrio Obrero</option>
                                <option value="68">Asentamiento Bermejo</option>
                                <option value="51">Asentamiento Biarritz y Espino</option>
                                <option value="80">Asentamiento Bosch</option>
                                <option value="85">Asentamiento Calle B. Mitre</option>
                                <option value="78">Asentamiento Charlone</option>
                                <option value="74">Asentamiento El pueblito</option>
                                <option value="86">Asentamiento El Triángulo</option>
                                <option value="58">Asentamiento Fraga</option>
                                <option value="59">Asentamiento La Carbonilla</option>
                                <option value="64">Asentamiento Lamadrid</option>
                                <option value="54">Asentamiento Los Pinos</option>
                                <option value="73">Asentamiento Magaldi</option>
                                <option value="75">Asentamiento Mar Dulce</option>
                                <option value="87">Asentamiento María Auxiliadora</option>
                                <option value="88">Asentamiento Paredón Lacroze</option>
                                <option value="57">Asentamiento Portela</option>
                                <option value="81">Asentamiento Rodrigo Bueno</option>
                                <option value="89">Asentamiento Saldías</option>
                                <option value="82">Asentamiento Scapino</option>
                                <option value="83">Asentamiento Warnes y Newbery</option>
                                <option value="71">Asentamiento Yerbal</option>
                                <option value="77">NHT Del Trabajo</option>
                                <option value="66">NHT Zavaleta</option>
                                <option value="79">Villa 1-11-14</option>
                                <option value="72">Villa 13 bis</option>
                                <option value="60">Villa 15</option>
                                <option value="55">Villa 16</option>
                                <option value="63">Villa 17</option>
                                <option value="69">Villa 19</option>
                                <option value="84">Villa 20</option>
                                <option value="76">Villa 21-24</option>
                                <option value="53">Villa 26</option>
                                <option value="70">Villa 31</option>
                                <option value="61">Villa 31 BIS</option>
                                <option value="52">Villa 3- Bo. Fatima</option>
                                <option value="56">Villa 6</option>
                                <option value="62">Villa Calacita</option>
                                <option value="67">Villa Piletones</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="referencia">Datos de Referencia:</label>
                    <div class="col-sm-8">
                        <textarea type="text" id="referencia" class="form-control"></textarea>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="3" disable="true">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-plus"></i> Datos Adicionales
            </uib-tab-heading>
            <form name="adicionalesForm" class="form-horizontal container">

                <div class="page-header">
                    <h1>Datos Adicionales</h1>
                </div>

                <div class="alert alert-warning" role="alert">
                    <p>ATENCION</p>
                    <p>Estas preguntas te permitiran agregar informacion que pueda ser significativa para la asignacion de la vacante.</p>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-9" for="concurrioAntes">¿El aspirante concurrio el año anterior a alguna institucion de Nivel inicial de gestion estatal de la Ciudad de Buenos Aires?</label>
                    <div class="col-sm-2">
                        <select id="concurrioAntes" class="form-control">
                            <option value="">Seleccionar</option>
                            <option value="true">Si</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-9" for="hermanos">¿El aspirante tiene hermanos cursando en alguna escuela de gestion estatal de la Ciudad de Buenos Aires?</label>
                    <div class="col-sm-2">
                        <select id="hermanos" class="form-control">
                            <option value="">Seleccionar</option>
                            <option value="true">Si</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-9" for="vinculo">¿Carlos Pipino (responsable principal) trabaja en alguna escuela de gestion estatal de la Ciudad de Buenos Aires?</label>
                    <div class="col-sm-2">
                        <select id="concurrioAntes" class="form-control">
                            <option value="">Seleccionar</option>
                            <option value="true">Si</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="4" disable="true">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-home"></i> Seleccion de Escuelas
            </uib-tab-heading>
            <form name="escuelasForm" class="form-horizontal container">
                <div class="page-header">
                    <h1>Selección de Escuelas</h1>
                </div>
                <ul ui-sortable="sortableOptions" ng-model="model.colegios" class="form-group col-md-8">
                    <li ng-repeat="colegio in model.colegios" class="bg-info form-control" style="cursor:move; margin-bottom: 10px" name="colegio.id">{{colegio.value}}</li>
                </ul>
            </form>
        </uib-tab>
        <uib-tab index="5" disable="true">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-ok"></i> Resumen
            </uib-tab-heading>
        </uib-tab>
    </uib-tabset>
</body>

</html>
