<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	    <meta charset="utf-8">
	    <title>Sistema de Inscripciones</title>
	    <meta name="description" content="Sistema de Inscripciones">
	    <meta name="author" content="Grupo7">
	    
	    <link rel="stylesheet" href="../app.css">
    
	    <link rel="stylesheet" href="../libs/bootstrap-3.3.7-dist/css/bootstrap.css">
	    <link rel="stylesheet" href="../libs/jquery-ui.min.css">
	    <link rel="stylesheet" href="../libs/toastr/angular-toastr.css">
	    
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	    <script src="../libs/jquery-ui.min.js"></script>
	    <script src="../libs/sortable.js"></script>
	    <script src="https://code.angularjs.org/1.5.8/i18n/angular-locale_es-ar.js"></script>
	    <script src="../libs/ui-bootstrap-2.1.4.js"></script>
	    <script src="../libs/ui-bootstrap-tpls-2.1.4.min.js"></script>
	    <script src="../libs/toastr/angular-toastr.tpls.js"></script>
	    
	    <script src="../app.module.js"></script>
	    <script src="/controllers/login.controller.js"></script>
	    <script src="../services/colegio.service.js"></script>
	    <base href="/" />
	    
	</head>
	<body ng-app="inscripciones" ng-controller="loginController">
	
		<nav class="navbar navbar-default">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <div id="logo"><img src="images/Buenos-Aires-Cuidad.png"></div>
	                <a class="navbar-brand" href="#">Sistema de Inscripciones</a>
	            </div>
	            <ul class="nav navbar-nav navbar-right">
	                <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Manual del usuario</a></li>
	            </ul>
	        </div>
    	</nav>
    	
    	<div class="container flexCenter">
    		<form role="form" action="/login" method="post" style="width:30%">
	    		<div class="form-group">
					<label for="username">Usuario:</label>
					<input type="text" class="form-control" id="username" name="username"/>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" name="password"/>
				</div>
				<label ng-if="error">Usuario o contraseña inválida.</label>
	            <label ng-if="logout">Ha sido deslogueado satisfactoriamente.</label>        
	            <div><input type="submit" value="Login" class="btn btn-primary" style="width:100%"/></div>    
       		</form>
    	</div>
    	
	</body>
</html>