<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Sistema de Inscripciones</title>
    <meta name="description" content="Sistema de Inscripciones">
    <meta name="author" content="Grupo7">

	<base href="/" />
</head>

<body ng-app="inscripciones" ng-controller="administracionColegioController as adminColegio">
    
    <link rel="stylesheet" href="../app.css">
    
    <link rel="stylesheet" href="../libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../libs/jquery-ui.min.css">
    <link rel="stylesheet" href="../libs/toastr/angular-toastr.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="../libs/jquery-ui.min.js"></script>
    <script src="../libs/sortable.js"></script>
    <script src="https://code.angularjs.org/1.5.8/i18n/angular-locale_es-ar.js"></script>
    <script src="../libs/ui-bootstrap-2.1.4.js"></script>
    <script src="../libs/ui-bootstrap-tpls-2.1.4.min.js"></script>
    <script src="../libs/toastr/angular-toastr.tpls.js"></script>
    
    <script src="../app.module.js"></script>
    <script src="../controllers/adminColegios/administracion.colegios.controller.js"></script>
    <script src="../services/colegio.service.js"></script>
    
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="logo"><img src="../images/Buenos-Aires-Cuidad.png"></div>
                <a class="navbar-brand" href="#">Sistema de Inscripciones</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Manual del usuario</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
    	<h1>Edición de Vacantes Disponibles</h1>
        <h3>{{adminColegio.colegio.nombre}}</h3>
        
        <div class="alert alert-info" role="alert">
            <p>Modifique las vacantes disponibles en cada curso.</p>
        </div>

        <form name="adminColegio.edicionForm" class="form-horizontal container">
            <div class="form-group" ng-repeat="curso in adminColegio.colegio.cursos | orderBy: 'grado'">
                <label for="curso1" class="col-md-2 control-label">{{curso.descripcion}}:</label>
                <div class="col-md-1"><input id="curso1" type="number" min="0" class="form-control" ng-model="curso.vacantesDisponibles"></input></div>
            </div>
            <div class="form-group">
                <label for="curso2" class="col-md-2 control-label">Segundo Grado:</label>
                <div class="col-md-1"><input id="curso2" type="number" min="0" class="form-control" disabled></input></div>
            </div>
            <div class="form-group">
                <label for="curso2" class="col-md-2 control-label">Tercer Grado:</label>
                <div class="col-md-1"><input id="curso2" type="number" min="0" class="form-control" disabled></input></div>
            </div>
            <div class="form-group">
                <label for="curso2" class="col-md-2 control-label">Cuarto Grado:</label>
                <div class="col-md-1"><input id="curso2" type="number" min="0" class="form-control" disabled></input></div>
            </div>
            <div class="form-group">
                <label for="curso2" class="col-md-2 control-label">Quinto Grado:</label>
                <div class="col-md-1"><input id="curso2" type="number" min="0" class="form-control" disabled></input></div>
            </div>
            <div class="form-group">
                <label for="curso2" class="col-md-2 control-label">Sexto Grado:</label>
                <div class="col-md-1"><input id="curso2" type="number" min="0" class="form-control" disabled></input></div>
            </div>
            <div class="form-group">
                <label for="curso2" class="col-md-2 control-label">Septimo Grado:</label>
                <div class="col-md-1"><input id="curso2" type="number" min="0" class="form-control" disabled></input></div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <button type="button" class="btn btn-primary"
                    ng-click="adminColegio.guardar()">Guardar</button>
            </div>
        </form>
    </div>
</body>

</html>
