<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Sistema de Inscripciones</title>
    <meta name="description" content="Sistema de Inscripciones">
    <meta name="author" content="Grupo7">


</head>

<body ng-app="inscripciones" ng-controller="mainController as mainCtrl">
    
    <link rel="stylesheet" href="../app.css">
    
    <link rel="stylesheet" href="../libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../libs/jquery-ui.min.css">
    <link rel="stylesheet" href="../libs/toastr/angular-toastr.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="../libs/jquery-ui.min.js"></script>
    <script src="../libs/sortable.js"></script>
    <script src="https://code.angularjs.org/1.5.8/i18n/angular-locale_es-ar.js"></script>
    <script src="../libs/ui-bootstrap-2.1.4.js"></script>
    <script src="../libs/ui-bootstrap-tpls-2.1.4.min.js"></script>
    <script src="../libs/toastr/angular-toastr.tpls.js"></script>
    
    <script src="../app.module.js"></script>
    <script src="../services/inscripcion.model.service.js"></script>
    <script src="../services/inscripcion.service.js"></script>
    <script src="../controllers/inscripcion/main.controller.js"></script>
    <script src="../controllers/inscripcion/seleccion.nivel.controller.js"></script>
    <script src="../controllers/inscripcion/aspirante.controller.js"></script>
    <script src="../controllers/inscripcion/responsable.controller.js"></script>
    <script src="../controllers/inscripcion/datos.adicionales.controller.js"></script>    
    <script src="../controllers/inscripcion/seleccion.colegios.controller.js"></script>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="logo"><img src="../images/Buenos-Aires-Cuidad.png"></div>
                <a class="navbar-brand" href="#">Sistema de Inscripciones</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Manual del usuario</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <h1>Control y Validacion de PreInscripciones</h1> 
        <h3>
            <div class="col-md-5">Ingrese el número de PreInscripcion</div> 
            <div class="col-md-5"><input type="text" class="form-control" ng-model="mainCtrl.nroPreInscATraer"></div>
            <div class="col-md-2"><button type="button" class="btn btn-primary btn-md"
                ng-click="mainCtrl.obtenerPreinscripcion()">Cargar</button>
                <span ng-if="mainCtrl.cargandoPreinscripcion" class="glyphicon glyphicon-refresh glyphicon-refresh-animate loadingColegios"></span>
            </div>
        </h3>
    </div>
    <div ng-include="'../views/formulario.preinscripcion.html'" ng-init="mainCtrl.modeValidate = true;" ng-if="mainCtrl.modeValidate && mainCtrl.showForm"/>
</body>

</html>