<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Sistema de Inscripciones</title>
    <meta name="description" content="Sistema de Inscripciones">
    <meta name="author" content="Grupo7">


</head>

<body ng-app="inscripciones" ng-controller="mainController">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/app.css">
    <link rel="stylesheet" href="jquery-ui.min.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="sortable.js"></script>
    <script src="https://code.angularjs.org/1.5.8/i18n/angular-locale_es-ar.js"></script>
    <script src="ui-bootstrap-2.1.4.js"></script>
    <script src="ui-bootstrap-tpls-2.1.4.min.js"></script>

    <script src="inscripciones.module.js"></script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="logo"><img src="images/Buenos-Aires-Cuidad.png"></div>
                <a class="navbar-brand" href="#">Sistema de Inscripciones</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Manual del usuario</a></li>
            </ul>
        </div>
    </nav>

    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-book"></i> Administrar Colegios
            </uib-tab-heading>
            <div id="top" class="row">
		<div class="col-sm-3">
			<h2>Establecimientos</h2>
		</div>
		<div class="col-sm-6">
			
			<div class="input-group h2">
				<input name="data[search]" class="form-control" id="search" type="text" placeholder="Buscar colegio...">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
			
		</div>
		<div class="col-sm-3">
			<a href="add.html" class="btn btn-primary pull-right h2">Nuevo Colegio</a>
		</div>
	</div> <!-- /#top -->
 
 
 	<hr />
 	<div id="list" class="row">
	
	<div class="table-responsive col-md-12">
		<table class="table table-striped" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nombre</th>
					<th>Dirección</th>
					<th>Teléfono</th>
					<th class="actions">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>P0204</td>
					<td>Esc. Primaria Nº 02 DE 04 Carlos Ramón Vignale</td>
					<td>WENCESLAO VILLAFAÑE 453</td>
					<td></td>
					<td class="actions">
						<a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
						<a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Eliminar</a>
					</td>
				</tr>
				<tr>
					<td>P1620</td>
					<td>Esc. Primaria Nº 16 DE 20 Dr. Martiniano Leguizamón</td>
					<td>MARTINIANO LEGUIZAMON 1470</td>
					<td></td>
					<td class="actions">
						<a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
						<a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Eliminar</a>
					</td>
				</tr>
				<tr>
					<td>P0904</td>
					<td>Esc. Primaria Nº 09 DE 04 Benito Quinquela Martín</td>
					<td>AVDA. DON PEDRO DE MENDOZA 1835</td>
					<td></td>
					<td class="actions">
						<a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
						<a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Eliminar</a>
					</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	
	</div> <!-- /#list -->
       
    </uib-tabset>
    <ul uib-pager total-items="6" ng-model="dummy"></ul>
</body>

</html>
